<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="281999355084-fedtaeh4ngblighrgbk7n84c0k34n4on.apps.googleusercontent.com">
    <title>建元轉蛋機</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="./css/app.css">

    <script src="https://unpkg.com/vue@3.0.2/dist/vue.global.js"></script>
    <script src="./js/API.js"></script>
    <script src="./js/app.js"></script>
    
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>
    <div id="app">
        <div id="simg" @mousedown="mouseDown" @mousemove="mouseMove" @mouseUp="mouseUp" @mouseleave="mouseUp" @touchstart="mouseDown" @touchmove="mouseMove" @touchend="mouseUp" @touchcancel="mouseUp" :style="{'background-image': imageStatus != IMAGE_STATUS.OPEN? 'url(./images/s' + parseInt(si) + '.png)': ''}">
            <img id="g1" draggable="false" src="./images/gay1.png" :class="{h52: true, 'g1-open-animation': imageStatus == IMAGE_STATUS.OPEN}">
            <img id="g2" draggable="false" src="./images/gay2.png" :class="{h47: true, 'g2-open-animation': imageStatus == IMAGE_STATUS.OPEN}">
            <button id="open-volume" @click="isShowVolume = true">📢</button>
            <span id="ver">ver: 1.1.0303</span>
        </div>
        <div id="result-root":class="{open: imageStatus == IMAGE_STATUS.OPEN}" @click="reset">
            <div id="result" :class="{animation: imageStatus == IMAGE_STATUS.OPEN}">
                <img :src="prizes[prizeIndex]?.image" height="112">
                <div>
                    <span style="font-size: 22px;">{{prizes[prizeIndex]?.name}}</span>
                </div>
                <div>
                    <span style="color: #fcd53f; font-size: 45px;">{{PRIZE_LEVEL[prizes[prizeIndex]?.weight]}}</span>
                </div>
                <div style="font-size: 30px;">
                    <span style="display: inline-block;">⭐</span>
                    <span :style="{display: prizes[prizeIndex]?.weight <= 8? 'inline-block': 'none'}">⭐</span>
                    <span :style="{display: prizes[prizeIndex]?.weight <= 6? 'inline-block': 'none'}">⭐</span>
                    <span :style="{display: prizes[prizeIndex]?.weight <= 4? 'inline-block': 'none'}">⭐</span>
                    <span :style="{display: prizes[prizeIndex]?.weight <= 1? 'inline-block': 'none'}">⭐</span>
                </div>
            </div>
            <div id="next" :class="{animation: imageStatus == IMAGE_STATUS.OPEN}">
                👆🏻點擊畫面繼續
            </div>
        </div>
        <div id="hint" :style="{display: closeHint != true? 'flex': 'none'}">
            <div>
                <span class="hand">👆🏻</span>按住畫面並快速上下滑動
            </div>
            <button @click="closeHint = true" style="zoom: 1.2;">了解</button>
            <span id="prize-menu-hint">點這裡可以更換卡牌<span class="hand">👉🏻</span></span>
            <span id="pool-menu-hint"><span class="hand">👈🏻</span>點這裡可以更換卡池</span>
        </div>
        <div id="login" :class="{show: isShowLoginScreen}">
            <p>登入後繼續</p>
            <div>
                <!-- <div id="g_id_onload"
                    data-client_id="281999355084-fedtaeh4ngblighrgbk7n84c0k34n4on.apps.googleusercontent.com"
                    data-context="signin"
                    data-ux_mode="popup"
                    data-callback="onSignIn"
                    data-auto_prompt="true">
                </div>
    
                <div class="g_id_signin"
                    data-type="standard"
                    data-shape="pill"
                    data-theme="filled_black"
                    data-text="signin_with"
                    data-size="large"
                    data-logo_alignment="left">
                </div> -->
            </div>
            <button @click="isShowLoginScreen = false">不要</button>
        </div>
        <input id="selectImage" type="file" accept="image/*;" @change="imageChanged" hidden>
        <div id="menu" :class="{open: isMenuOpen}">
            <button :class="{open: isMenuOpen, hidden: isPoolMenuOpen}" @click="isMenuOpen = isMenuOpen? false: true"><span>➜</span></button>
            <div style="text-align: center; zoom: 2;">
                卡片清單
            </div>
            <div id="listView">
                <div v-for="(i, k) in prizes" class="menu-item" style="text-align: center;">
                    <button class="close" @click="cardDelete(k)" :hidden="cardPoolIndex != -1 && i.userId != userId && pools[cardPoolIndex].userId != userId">X</button>
                    <div style="text-align: center;">
                        <img :src="i.image" height="112">
                    </div>
                    <div>
                        {{i.name}}
                    </div>
                    <div>
                        {{PRIZE_LEVEL[i.weight]}}
                    </div>
                    <div>
                        機率：{{(i.probability *  100).toFixed(2)}}%
                    </div>
                    <button class="edit" @click="editingCardIndex = k; showEditCard()" :hidden="cardPoolIndex != -1 && i.userId != userId && pools[cardPoolIndex].userId != userId">✏️</button>
                </div>
                <div class="menu-item">
                    <button @click="editingCardIndex = -1; showEditCard()" style="zoom: 1.2; height: 100%;" :disabled="cardPoolIndex != -1 && pools[cardPoolIndex].userId != userId && !pools[cardPoolIndex].isPublic">+新增卡片<span :hidden="cardPoolIndex == -1 || pools[cardPoolIndex].userId == userId || pools[cardPoolIndex].isPublic"><br>(這個卡池不允許其他人編輯)</span></button>
                </div>
            </div>
            <!-- <button @click="addPrize" style="zoom: 1.2; flex: 0;">+新增獎品</button> -->
        </div>
        <div id="pool-menu" :class="{open: isPoolMenuOpen}">
            <button :class="{open: isPoolMenuOpen, hidden: isMenuOpen}" @click="isPoolMenuOpen = isPoolMenuOpen? false: true"><span>➜</span></button>
            <div style="text-align: center; zoom: 2;">
                卡池清單
            </div>
            <div id="listView">
                <div :class="{'pool-menu-item': true, selected: cardPoolIndex == -1}" @click="selectedCardPool(-1)">
                    <p>基本卡池</p>
                    <span>預設的非線上卡池</span>
                </div>
                
                <div v-for="(i, k) in pools" class="pool-menu-item-p">
                    <div :class="{'pool-menu-item': true, selected: cardPoolIndex == k}" :style="{'background-image': 'url(' + i.image + ')'}" @click="selectedCardPool(k)">
                        <p>{{i.name}}</p>
                        <span>{{i.describe}}</span>
                    </div>
                    <button @click="poolDelete(k)" :hidden="i.userId != userId">X</button>
                    <button @click="editingPoolIndex = k; showEditPool()" :hidden="i.userId != userId">✏️</button>
                </div>
                <!-- <div class="menu-item">
                    <button @click="addPrize" style="zoom: 1.2; height: 100%;">+新增卡池</button>
                </div> -->
            </div>
            <button @click="editingPoolIndex = -1; showEditPool()" style="zoom: 1.2; flex: 0; min-height: 45px;">+新增卡池</button>
        </div>
        <div id="edit-pool" :class="{open: isShowEditPool}">
            <div>
                <div class="pool-menu-item" :style="{'background-image': 'url(' + editingPool.image + ')'}">
                    <input type="text" v-model="editingPool.name" placeholder="卡池名稱" >
                    <input type="text" v-model="editingPool.describe" placeholder="卡池說明">
                </div>
                <button @click="imageToChange(editingPool)">更換背景圖片</button>
                <div>
                    <input type="checkbox" id="is-public" v-model="editingPool.isPublic">
                    <label for="is-public">允許其他人在這個卡池中加入卡牌</label>
                </div>
                <div>
                    <button @click="sendPool">送出</button>
                    <button @click="isShowEditPool = false">取消</button>
                </div>
            </div>
        </div>
        <div id="edit-card" :class="{open: isShowEditCard}">
            <div class="menu-item">
                <div style="text-align: center;">
                    <img :src="editingCard.image" height="112">
                </div>
                <button @click="imageToChange(editingCard)">更換圖片</button>
                <input type="text" v-model="editingCard.name" placeholder="卡牌名稱">
                <select v-model.number="editingCard.weight">
                    <option v-for="(oi, ok) in PRIZE_LEVEL" :value="ok">{{oi}}</option>
                </select>
                <div>
                    <button @click="sendCard">送出</button>
                    <button @click="isShowEditCard = false">取消</button>
                </div>
            </div>
        </div>
        <div id="volume" :class="{open: isShowVolume}">
            <div>
                <span style="color: white;">{{audioVolume}}</span>
            </div>
            <div>
                📢<input type="range" min="0" max="100" v-model="audioVolume">
            </div>
            <button @click="isShowVolume = false">關閉</button>
        </div>
        <div id="please-wait" :class="{open: isShowPaeaseWait}">
            <img src="./images/prizes/magicg21Pinkstarke.png" alt="">
            <span>請稍後...</span>
        </div>
    </div>
</body>
</html>